In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
data = pd.read_csv("titanic.csv")
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
print(data['Survived'].unique())
data['Survived'].value_counts()

[0 1]

0    549
1    342
Name: Survived, dtype: int64

In [4]:
data.shape

(891, 12)

In [5]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
for val in data:
   print(data[val].value_counts())
   print()

1      1
599    1
588    1
589    1
590    1
      ..
301    1
302    1
303    1
304    1
891    1
Name: PassengerId, Length: 891, dtype: int64

0    549
1    342
Name: Survived, dtype: int64

3    491
1    216
2    184
Name: Pclass, dtype: int64

Braund, Mr. Owen Harris                     1
Boulos, Mr. Hanna                           1
Frolicher-Stehli, Mr. Maxmillian            1
Gilinski, Mr. Eliezer                       1
Murdlin, Mr. Joseph                         1
                                           ..
Kelly, Miss. Anna Katherine "Annie Kate"    1
McCoy, Mr. Bernard                          1
Johnson, Mr. William Cahoone Jr             1
Keane, Miss. Nora A                         1
Dooley, Mr. Patrick                         1
Name: Name, Length: 891, dtype: int64

male      577
female    314
Name: Sex, dtype: int64

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: Fare, Length: 248, dtype: int64

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [7]:
# Drop the columns
data = data.drop(['Cabin', 'Embarked', 'Pclass', 'PassengerId', 'Name', 'Ticket'], axis=1)

In [8]:
data.head()

   Survived     Sex   Age  SibSp  Parch     Fare
0         0    male  22.0      1      0   7.2500
1         1  female  38.0      1      0  71.2833
2         1  female  26.0      0      0   7.9250
3         1  female  35.0      1      0  53.1000
4         0    male  35.0      0      0   8.0500

In [9]:
data.shape

(891, 6)

In [10]:
data = data.dropna(subset =['Age'], axis=0)

In [11]:
data.dtypes

Survived      int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
dtype: object

In [12]:
print(data['Sex'].unique())
data['Sex'].value_counts()

['male' 'female']

male      453
female    261
Name: Sex, dtype: int64

In [13]:
from sklearn import preprocessing
  
# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column
data['Sex']= label_encoder.fit_transform(data['Sex'])
  
data['Sex'].unique()

array([1, 0])

In [14]:
data.head()

   Survived  Sex   Age  SibSp  Parch     Fare
0         0    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         1    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         0    1  35.0      0      0   8.0500

In [15]:
def calculate_prior(df, Y):
    classes = sorted(list(df[Y].unique()))
    prior = []
    for i in classes:
        prior.append(len(df[df[Y]==i])/len(df))
    return prior

In [16]:
def calculate_likelihood_gaussian(df, feat_name, feat_val, Y, label):
    feat = list(df.columns)
    df = df[df[Y]==label]
    mean, std = df[feat_name].mean(), df[feat_name].std()
    p_x_given_y = (1 / (np.sqrt(2 * np.pi) * std)) *  np.exp(-((feat_val-mean)**2 / (2 * std**2 )))
    return p_x_given_y

In [17]:
def naive_bayes_gaussian(df, X, Y):
    # get feature names
    features = list(df.columns)[1:]

    # calculate prior
    prior = calculate_prior(df, Y)
    #print(prior)

    Y_pred = []
    # loop over every data sample
    for x in X:
        # calculate likelihood
        labels = sorted(list(df[Y].unique()))
        likelihood = [1]*len(labels)
        for j in range(len(labels)):
            for i in range(len(features)):
                likelihood[j] *= calculate_likelihood_gaussian(df, features[i], x[i], Y, labels[j])

        # calculate posterior probability (numerator only)
        post_prob = [1]*len(labels)
        for j in range(len(labels)):
            post_prob[j] = likelihood[j] * prior[j]

        Y_pred.append(np.argmax(post_prob))

    return np.array(Y_pred)

In [18]:
data.head()

   Survived  Sex   Age  SibSp  Parch     Fare
0         0    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         1    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         0    1  35.0      0      0   8.0500

In [19]:
import numpy as np
max_vals = np.max(np.abs(data))
max_vals

Survived      1.0000
Sex           1.0000
Age          80.0000
SibSp         5.0000
Parch         6.0000
Fare        512.3292
dtype: float64

In [20]:
df_max_scaled = data.copy()
  
# apply normalization techniques on Column 1
column = 'Age'
df_max_scaled[column] = df_max_scaled[column] /df_max_scaled[column].abs().max()
column = 'Fare'
df_max_scaled[column] = df_max_scaled[column] /df_max_scaled[column].abs().max()
  
# view normalized data
display(df_max_scaled)
data = df_max_scaled
df_max_scaled.head()

     Survived  Sex     Age  SibSp  Parch      Fare
0           0    1  0.2750      1      0  0.014151
1           1    0  0.4750      1      0  0.139136
2           1    0  0.3250      0      0  0.015469
3           1    0  0.4375      1      0  0.103644
4           0    1  0.4375      0      0  0.015713
..        ...  ...     ...    ...    ...       ...
885         0    0  0.4875      0      5  0.056848
886         0    1  0.3375      0      0  0.025374
887         1    0  0.2375      0      0  0.058556
889         1    1  0.3250      0      0  0.058556
890         0    1  0.4000      0      0  0.015127

[714 rows x 6 columns]

   Survived  Sex     Age  SibSp  Parch      Fare
0         0    1  0.2750      1      0  0.014151
1         1    0  0.4750      1      0  0.139136
2         1    0  0.3250      0      0  0.015469
3         1    0  0.4375      1      0  0.103644
4         0    1  0.4375      0      0  0.015713

In [21]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=.20, random_state=50)

In [22]:
X_test = test.iloc[:,1:].values
Y_test = test.iloc[:,0].values
print(X_test)
print(Y_test)

[[1.         0.65       0.         0.         0.02635025]
 [0.         0.1625     0.         1.         0.03806147]
 [0.         0.4        0.         0.         0.14891148]
 [0.         0.3        0.         0.         0.13526459]
 [1.         0.2625     0.         0.         0.01646071]
 [1.         0.175      5.         2.         0.0915427 ]
 [1.         0.425      0.         0.         0.01267896]
 [0.         0.375      0.         0.         0.1111184 ]
 [0.         0.025      3.         2.         0.05445717]
 [1.         0.225      0.         0.         0.02244651]
 [0.         0.1875     0.         0.         0.01410226]
 [1.         0.425      0.         0.         0.01571255]
 [1.         0.625      2.         0.         0.26086743]
 [1.         0.075      0.         1.         0.02434958]
 [0.         0.3875     1.         0.         0.03513366]
 [0.         0.2625     1.         0.         0.01917712]
 [0.         0.1125     2.         2.         0.06709553]
 [1.         0.475      0.         0.         0.01376068]
 [1.         0.6125     1.         0.         0.17391982]
 [1.         0.25       0.         0.         0.01411046]
 [0.         0.3        2.         1.         0.05270049]
 [1.         0.525      0.         0.         0.01473662]
 [1.         0.2375     0.         0.         0.01317512]
 [0.         0.325      0.         0.         0.01546857]
 [0.         0.1        0.         2.         0.05123659]
 [1.         0.425      0.         0.         0.02537431]
 [1.         0.2625     0.         0.         0.01415106]
 [1.         0.4875     0.         0.         0.02537431]
 [1.         0.1125     5.         2.         0.0915427 ]
 [1.         0.2        1.         1.         0.03952537]
 [0.         0.3        1.         2.         0.12687155]
 [1.         0.50625    0.         0.         0.01512699]
 [0.         0.4125     1.         0.         0.1036443 ]
 [1.         0.425      1.         0.         0.05074862]
 [1.         0.375      0.         0.         0.01571255]
 [1.         0.4375     0.         0.         0.01541158]
 [1.         0.525      0.         0.         0.02537431]
 [1.         0.3125     1.         0.         0.10821499]
 [1.         0.25       0.         0.         0.01571255]
 [0.         0.525      0.         0.         0.02537431]
 [1.         0.75       1.         1.         0.07612293]
 [1.         0.35       0.         0.         0.01541158]
 [0.         0.5875     1.         0.         0.02830212]
 [0.         0.025      0.         1.         0.0239836 ]
 [1.         0.2375     0.         0.         0.02049464]
 [0.         0.375      0.         0.         0.02537431]
 [1.         0.275      0.         0.         0.01521639]
 [1.         0.05       3.         2.         0.05445717]
 [1.         0.3375     0.         0.         0.14976542]
 [0.         0.275      1.         1.         0.05660423]
 [0.         0.5625     0.         0.         0.01512699]
 [0.         0.6375     1.         0.         0.15216447]
 [0.         0.1625     0.         0.         0.01411046]
 [1.         0.2625     0.         0.         0.01546857]
 [1.         0.275      0.         0.         0.01390707]
 [1.         0.725      0.         2.         0.22109808]
 [0.         0.0875     0.         2.         0.05123659]
 [1.         0.525      0.         0.         0.05130978]
 [0.         0.35       0.         0.         0.02537431]
 [1.         0.225      0.         0.         0.01571255]
 [1.         0.45       1.         1.         0.04713766]
 [1.         0.125      3.         2.         0.05445717]
 [1.         0.2        0.         0.         0.01571255]
 [0.         0.5875     1.         1.         0.10257897]
 [1.         0.2375     0.         0.         0.02830212]
 [0.         0.2        0.         0.         0.01512699]
 [0.         0.18125    1.         0.         0.02821272]
 [1.         0.2        0.         0.         0.01854277]
 [0.         0.175      1.         0.         0.05869429]
 [0.         0.009375   2.         1.         0.0375897 ]
 [0.         0.4125     1.         2.         0.05416439]
 [0.         0.4875     1.         0.         0.10910953]
 [0.         0.225      0.         0.         0.01920972]
 [0.         0.3375     0.         2.         0.02173075]
 [0.         0.2        0.         1.         0.11316786]
 [0.         0.2        0.         0.         0.16883676]
 [1.         0.4125     0.         0.         0.01854277]
 [1.         0.5125     0.         0.         0.01390707]
 [1.         0.00525    0.         1.         0.01662349]
 [1.         0.575      0.         0.         0.1545881 ]
 [1.         0.6375     0.         0.         0.01512699]
 [0.         0.45       0.         0.         0.02537431]
 [0.         0.125      0.         2.         0.04713766]
 [1.         0.375      0.         0.         0.05416439]
 [0.         0.2875     1.         0.         0.22109808]
 [1.         0.2        2.         0.         0.03513366]
 [1.         0.3        0.         0.         0.1545881 ]
 [0.         0.3875     1.         1.         0.04006213]
 [1.         0.2625     0.         0.         0.01522459]
 [0.         0.5125     0.         0.         0.26252652]
 [1.         0.8125     0.         0.         0.05182215]
 [1.         0.45       0.         0.         0.05130978]
 [1.         0.8125     0.         0.         0.01512699]
 [1.         0.2        0.         0.         0.0179898 ]
 [0.         0.5625     1.         1.         0.05123659]
 [1.         0.3125     1.         0.         0.03474329]
 [1.         0.475      0.         1.         0.29953885]
 [0.         0.0125     0.         2.         0.03072575]
 [1.         0.3        0.         0.         0.01463083]
 [0.         0.3125     1.         1.         0.0585561 ]
 [0.         0.3        1.         0.         0.05074862]
 [0.         0.7125     0.         0.         0.02049464]
 [1.         0.2875     0.         0.         0.01541158]
 [1.         0.3375     0.         0.         0.01361429]
 [1.         0.25       0.         0.         0.01854277]
 [1.         0.525      0.         1.         0.01640391]
 [0.         0.275      0.         0.         0.01512699]
 [1.         0.2375     3.         2.         0.51334181]
 [1.         0.4125     0.         0.         0.01541158]
 [1.         0.225      0.         0.         0.01521639]
 [1.         0.875      0.         0.         0.02049464]
 [0.         0.075      4.         2.         0.06104473]
 [0.         0.275      0.         1.         0.10735285]
 [1.         0.775      0.         0.         0.05182215]
 [0.         0.675      1.         0.         0.11594108]
 [1.         0.5875     0.         0.         0.075147  ]
 [1.         0.2625     0.         0.         0.0150944 ]
 [1.         0.375      0.         0.         0.01411046]
 [0.         0.775      0.         0.         0.1561496 ]
 [1.         0.8        0.         0.         0.05074862]
 [0.         0.225      2.         0.         0.03513366]
 [0.         0.2375     0.         0.         0.01537917]
 [1.         0.0375     4.         2.         0.06126432]
 [1.         0.325      0.         0.         0.02049464]
 [1.         0.325      0.         0.         0.01571255]
 [1.         0.875      1.         1.         0.13858277]
 [1.         0.4        0.         0.         0.01546857]
 [1.         0.05       1.         1.         0.02173075]
 [0.         0.6        1.         0.         0.07729405]
 [1.         0.525      1.         0.         0.10257897]
 [1.         0.4375     0.         0.         0.01571255]
 [1.         0.3        0.         0.         0.01393967]
 [0.         0.5625     0.         1.         0.02821272]
 [1.         0.5        0.         0.         0.        ]
 [1.         0.35625    0.         0.         0.03142511]
 [1.         0.3125     0.         0.         0.01415106]
 [1.         0.3        0.         0.         0.02537431]
 [0.         0.525      1.         0.         0.05074862]
 [0.         0.3625     1.         1.         0.02042144]
 [0.         0.725      0.         1.         0.29953885]
 [0.         0.325      0.         0.         0.01533038]
 [1.         0.325      2.         0.         0.01690807]
 [0.         0.2        5.         2.         0.0915427 ]]
[0 1 1 1 0 0 0 1 0 0 1 0 1 1 0 0 0 0 1 1 1 0 0 1 1 1 0 0 0 0 1 0 1 0 0 0 1
 1 0 1 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1 0 0 1 1 1 1 1 1
 1 1 0 0 1 0 0 1 0 0 1 0 0 1 0 1 0 1 0 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 1 1 1 0 1 0 0 0 0 0 1 0 1 1 0 0]

In [23]:
Y_pred = naive_bayes_gaussian(train, X=X_test, Y="Survived")

In [24]:
from sklearn.metrics import confusion_matrix, f1_score
print(confusion_matrix(Y_test, Y_pred))
from sklearn.metrics import classification_report
print(classification_report(Y_test,Y_pred))
print(f1_score(Y_test, Y_pred))

[[66 14]
 [17 46]]
              precision    recall  f1-score   support

           0       0.80      0.82      0.81        80
           1       0.77      0.73      0.75        63

    accuracy                           0.78       143
   macro avg       0.78      0.78      0.78       143
weighted avg       0.78      0.78      0.78       143

0.7479674796747968